/* Banner design */
.banner{
  height: 100vh; /* 1vh => 1% of viewport height */
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-content{
  text-align: center;
  color: white;
}

.banner-flat{
  @extend .padded;
  background-image: image-url('card-paris.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
}
