/* Footer design */
.footer{
  background: $gray-dark;
  color: $gray-middle;
  padding-top: 100px;
  justify-content: space-between;
  align-items: center;
}

.flex-box{
  display: flex;
}

.fa-box{
  flex: 0 0 60px;
}

.empty-box{
  flex: 1 0 auto;
}

.home-box{
  flex: 0 0 200px;
}

.footer{

  .fa{
  font-size: $icon-size;
  line-height: $icon-height;
  transition: $icon-transition;

    &:hover{
      color: $flashy-yellow;
    }
  }
}

