body {
  margin: 0;
  font-family: $base-font;
}
h1, h2, h3 {
  font-family: $header-font;
}
h2 {
  font-size: $h2-size;
  font-weight: $h2-weight;
  margin-bottom: 30px;
  margin-top: 0;
}
.padded {
  padding: 100px 0;
}
.wrapper-grey {
  background: $wrapper-color;
}
