<!-- _footer.erb -->

<div id="footer">
  <!-- Your footer code goes here -->
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 flex-box">
          <div class="fa-box">
            <i class="fa fa-youtube" aria-hidden="true"></i>
          </div>
          <div class="fa-box">
            <i class="fa fa-instagram" aria-hidden="true"></i>
          </div>
          <div class="fa-box">
            <i class="fa fa-facebook-official" aria-hidden="true"></i>
          </div>
          <div class="fa-box">
            <i class="fa fa-twitter" aria-hidden="true"></i>
          </div>
          <div class="empty-box">
          </div>
          <div class="wagon-box">
            <p>This is a Airbnb Home challenge @ LeWagon</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
