---
title: Team
---
<div class="padded">
  <h1 class="text-center">Our team</h1>
  <ul class="list-inline text-center">
    <% data.team.each do |member, infos| %>
      <li>
        <h3><%= member.capitalize %></h3>
        <h3><%= infos.role.capitalize %></h3>
        <%= image_tag "#{infos.picture}", class: "avatar avatar-resize" %>
      </li>
    <% end %>
  </ul>
  <p class="text-center email padded"><i class="fa fa-envelope" aria-hidden="true"></i> contact@airbnb.com</p>
</div>
